body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100vw;
    height: 300px;
    padding: 20px;
    overflow: hidden;
}

.nav-top {
    display: flex;
    justify-content: space-between;
}

.logo-contain, #logo {
    width: 90px;
    height: 30px;
}

.searchbar-right {
    display: flex;
}

.google-apps-icon{
    width: 24px;
    height: 24px;
    margin-right: 25px;
}

.my-account-icon {
    height: 32px;
    border-radius: 50%;
}

.scroll-list-left {
    padding-top: 40px;
}

.scroll-list-left ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.scroll-list-left a {
    text-decoration: none;
    color: #5f6368;
}

#search {
    height: 39px;
    width: 533px;
}